body {
	padding-top: 5px;
	background-color: #A4A4A4;
	width: 100%;
	height: 100%;
	font-family: Arial, Tahoma, sans-serif;
}
.title{
	color: white;
}
.w3-badge, .w3-tag {
    background-color: #009688 !important;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
