{% extends "base.html" %}
{% block body %}
	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading col-lg-4" style="background-color: gray; color: white">
                <strong>Questão</strong>
            </div>
            <div class="panel-heading col-lg-4" style="background-color: gray; color: white">
                <strong>Data da publicação</strong>
            </div>
            <div class="panel-heading col-lg-4" style="background-color: gray; color: white">
                <strong>Resultado</strong>
            </div>
            {% if questao_lista %}
				{% for questao in questao_lista %}
					<div class="panel panel-default col-lg-4"><a href="{% url 'detalhe' questao.id %}">{{questao.texto_questao}}</a></div>
					<div class="panel panel-default col-lg-4">{{questao.data_pub}}</div>

                    {% if questao.fechada %}
                        <div class="panel panel-default col-lg-4">Fechada - <a href="{% url 'resultado' questao.id %}">Ver</a></div>
                    {% else %}
                        <div class="panel panel-default col-lg-4">Aberta</div>
                    {% endif %}					
				{% endfor %}
			{% else %}
				<div class="panel panel-default col-lg-12">Nenhuma questão está disponível.</div>
			{% endif %}
        </div>
    </div>
{% endblock %}
