{% extends "base.html" %}
{% block body %}
	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: gray; color: white;">
                <strong>{{questao.texto_questao}}</strong>
            </div>
            <div class="panel panel-default col-lg-4 btn">Opcao</div>
            <div class="panel panel-default col-lg-4 btn">Votos</div>
            <div class="panel panel-default col-lg-4 btn">Percentual</div>
        </div>
        <div class="panel panel-default">
            {% for opcao in questao.opcao_set.all %}
                <div class="col-lg-4 btn">{{opcao.texto_opcao}}</div>
                <div class="col-lg-4 btn">{{opcao.votos}}</div>
                <div class="col-lg-4 btn">
                    <script>
                        document.write(({{opcao.votos}} * 100) / {{total_votos}} + " % ");
                    </script>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-12 btn"><a href="{% url 'detalhe' questao.id %}" style="color: blue;">Votar novamente</a></div>
    </div>
{% endblock %}
