{% extends "base.html" %}
{% block body %}
	<form class="form-signin" method="post">
		{% csrf_token %}
		<input class="form-control" type="password" name="old_password" placeholder="Senha atual" id="id_old_password" required autofocus>
		<input class="form-control" type="password" name="new_password1" placeholder="Nova senha" id="id_new_password1" required>
		<input class="form-control" type="password" name="new_password2" placeholder="Confirmar nova senha" id="id_new_password2" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Alterar</button>

		{% if messages %}
			{% for message in messages %}
				{% if message.tags == success %}
					<p style="color: green;">{{message}}</p>
				{% else %}
					<p style="color: red;">{{message}}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</form>
{% endblock %}