{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'styles/w3/w3.css' %}" rel="stylesheet">
    <link href="{% static 'styles/w3/w3-theme-blue-grey.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'styles/site.css' %}" rel="stylesheet">
    <link href="{% static 'styles/signin.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'scripts/vendor/site.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>ConnectedIn</title>
  </head>
  <body class="w3-theme-l5">
    <header class="w3-top">
      <div class="w3-bar nav-color w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large nav-color item-menu opcoes-cell
        " href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large nav-color item-menu opcoes-cell" href="javascript:void(0);" onclick="openNav1()"><i class="fa fa-search"></i></a>
        <a href="{% url 'timeline' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i><b>ConnectedIn</b></a>
        <div class="w3-dropdown-hover w3-hide-small w3-right" title="User">
          <button class="w3-button w3-padding-large logo-user">
            <span style="margin-left: 5px;"><b style="color: white;">{{perfil_logado.nome}}</b></span>
            <img src="{% static 'img/photo.jpg' %}" class="image-perfil" alt="Avatar">
          </button> 
        </div>
        <div class="w3-dropdown-hover w3-hide-small w3-right">
          <a href="/logout/" class="item-menu">
            <button class="w3-button w3-padding-large">
              <b>Sair</b>
            </button> 
          </a>    
        </div>
        <div class="w3-dropdown-hover w3-hide-small w3-right">
          <button class="w3-button w3-padding-large" title="Options"><b class="item-menu">Opções</b></button>     
          <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
            <a href="#" class="w3-bar-item w3-button">Alterar Foto</a>
            <a href="{% url 'alterar_senha'%}" class="w3-bar-item w3-button">Alterar Senha</a>
            <a href="#" class="w3-bar-item w3-button">Desativar Conta</a>
          </div>
        </div>
        <div class="w3-dropdown-hover w3-hide-small w3-right">
          <button class="w3-button w3-padding-large item-menu"><i class="fa fa-search"></i></button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <div class="busca">
              <form class="w3-center" action="{% url 'pesquisar_usuario' %}" method="GET">
                <input class="input-search" type="search" name="nome" placeholder="Buscar amigos..." required/>
                <button class="w3-button w3-padding-large button-search">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="navDemo" class="w3-bar-block opcoes-cell w3-hide w3-hide-large w3-hide-medium w3-large menu-suspenso menu-opcoes">
      <div class="w3-bar-item w3-button w3-padding-large" style="background-color: #009688; color: white;">
        <img src="{% static 'img/photo.jpg' %}" class="image-perfil-cell" alt="Avatar">
        <b>{{perfil_logado.nome}}</b>
      </div>
      <a href="#" class="w3-bar-item w3-button w3-padding-large link-opcoes">Alterar Foto</a>
      <a href="{% url 'alterar_senha'%}" class="w3-bar-item w3-button w3-padding-large link-opcoes">Alterar Senha</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large link-opcoes">Ativar/Desativar Conta</a>
      <a href="/logout/" class="w3-bar-item w3-button w3-padding-large link-opcoes">Sair</a>
    </div>
    <div id="navDemo1" class="w3-bar-block w3-theme-d4 w3-hide w3-hide-large w3-hide-medium w3-large menu-cell" style="float: left;">
      <div style="background-color: white;">
        <form action="{% url 'pesquisar_usuario' %}" method="GET">
          <input class="search-cell" type="search" name="nome" placeholder="Buscar amigos..." required/>
          <button class="w3-button w3-padding-large button-search button-cell">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div> 
    </div>

    <div class="w3-row">
      <nav class="w3-col  w3-cell w3-mobile" style="width:25%; margin-top: 25px;">
        <div class="w3-row" style="margin-left: 5%; margin-right: 5%;">
          <h4 class="w3-round w3-center w3-panel w3-padding-16 w3-blue">
            <b>Contatos<b>
            <i class="fa fa-user"></i>
          </h4>
          {% with total_de_contatos=perfil_logado.contatos.count %}
            {% if total_de_contatos %}
              <div class="w3-white">
                {% for contato in perfil_logado.contatos.all %}
                  <div class="w3-row">
                    <div class="w3-col w3-cell w3-center" style="width: 100%;">
                    <h4><b><a href="{% url 'exibir' contato.id %}">{{contato.nome}}</a></b></h4>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="w3-card w3-white w3-round w3-center">
                <p>Você não possui contatos no momento.</p>
              </div>
            {% endif %}
          {% endwith%}
        </div>
      </nav>

      <section class="w3-col  w3-cell w3-mobile" style="width:50%; margin-top: 25px;">
        {% block body%}
            
        {% endblock %}
      </section>

      <aside class="w3-col  w3-cell w3-mobile w3-right" style="width:25%; margin-top: 25px;">
        <div class="w3-row" style="margin-left: 5%; margin-right: 5%;">
          <h4 class="w3-round w3-center w3-panel w3-padding-16 w3-theme-d4">
            <b>Convites Recebidos<b>
            <i class="fa fa-arrow-left"></i>
          </h4>
          {% with total=perfil_logado.convites_recebidos.count %}
            {% if total %}
              <div class="w3-white">
                {% for convite in perfil_logado.convites_recebidos.all %}
                  <div class="w3-row">
                    <div class="w3-col w3-cell w3-center" style="width: 33.333%;">
                      <h4><b>{{ convite.solicitante.nome}}</b></h4>
                    </div>
                    <div class="w3-col w3-cell w3-center" style="width: 33.333%;">
                      <a href="{% url 'aceitar' convite.id %}" class="btn-primary w3-round w3-button">Aceitar</a>
                    </div>
                    <div class="w3-col w3-cell w3-center" style="width: 33.333%;">
                      <a href="{% url 'recusar' convite.id %}" class="btn-danger w3-round w3-button">Recusar</a>
                    </div>
                    <hr>
                  </div>
                {% endfor %} 
              </div> 
            {% else %}
              <div class="w3-card w3-white w3-round w3-center">
                <p>Não há convites recebidos no momento.</p>
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <div class="w3-row" style="margin-left: 5%; margin-right: 5%;">
          <h4 class="w3-round w3-center w3-panel w3-padding-16 w3-theme-d4">
            <b>Convites Enviados<b>
            <i class="fa fa-arrow-right"></i>
          </h4>
          {% with total=perfil_logado.convites_feitos.count %}
            {% if total %}
              <div class="w3-white">
                {% for convite in perfil_logado.convites_feitos.all %}
                  <div class="w3-row">
                    <div class="w3-col w3-cell w3-center" style="width: 50%;">
                      <h4><b>{{convite.convidado.nome}}</b></h4>
                    </div>
                    <div class="w3-col w3-cell w3-center" style="width: 50%;">
                      <a href="{% url 'recusar' convite.id %}" class="w3-button btn-danger w3-round">Cancelar</a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
                <div class="w3-card w3-white w3-round w3-center">
                <p>Não há convites enviados no momento.</p>
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </aside>
    </div>

  </body>
</html> 
