{% extends "base.html" %}
{% block body %}
    <div class="w3-row" style="margin-top: 1px;margin-left: 5%; margin-right: 5%;">
        <div class="w3-row">
            <h3 class="w3-round w3-center w3-panel w3-padding-16 w3-gray"><b>Todos os Perfis</b></h3>
            {% if perfis %}
                <div class="w3-col" style="margin-top: 10px; margin-left: 20%; margin-right: 20%">
                    {% for perfil in perfis %}
                        <div style="margin-top: 10px;">
                           <a href="{% url 'exibir' perfil.id %}">{{ perfil.nome }}</a> / {{ perfil.email }} 
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Nenhum Perfil encontrado</p>
            {% endif %}
        </div>
    </div>
{% endblock %}