{% extends "base.html" %}
{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<h2 style="margin-top:0">{{perfil.nome}}</h2>
			<address>
				<strong>{{perfil.nome_empresa}}</strong><br/>
				<abbr title="Telefone">Tel:</abbr> {{perfil.telefone}}<br/>
				<a href="mailto:{{perfil.email}}">{{perfil.email}}</a>
			</address>
			{% if ja_eh_contato %}
				<div class="well well-sm">Vocês estão conectados!</div>
			{% elif perfil.id == perfil_logado.id %}
				<a href="" class="btn btn-primary" role="button">Desativar Perfil</a>
			{% else %}
				<a href="{% url 'convidar' perfil.id %}" class="btn btn-success" role="button">Convidar</a>
				<a href="" class="btn btn-warning" role="button">Bloquear</a>
			{% endif %}
		</div>
	</div>
{% endblock %}