{% extends "base.html" %}
{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="panel-heading text-success" style="font-size: 30px;">Postagens</div>
			<div class="panel-heading">
				{% for post in posts %}
					<h2 class="panel-heading text-warning">{{post.titulo}}</h2>
					<p class="panel-heading text-muted">{{post.texto|linebreaksbr}}</p>
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-12">
			<a href="{% url 'adicionar_post' %}">Adiconar postagem</a>
		</div>
	</div>
{% endblock %}