{% extends "base_usuario.html" %}
{% block body %}

	<form class="form-signin" action="{% url 'registrar' %}" method="post">
		{% csrf_token %}
		<h2 class="form-signin-heading">Crie seu usuário</h2>
		<input class="form-control" type="text"  id="id_nome" name="nome" placeholder="Nome" required autofocus>
		<input class="form-control" type="email" id="id_email" name="email" placeholder="Email" required>
		<input class="form-control" type="tel" id="id_telefone" name="telefone" placeholder="Telefone" required pattern="([0-9]{2}) [0-9]{5}-[0-9]{4}" title="(00) 00000-0000">
		<input class="form-control" type="text" id="id_nome_empresa" name="nome_empresa" placeholder="Empresa" required>
		<input class="form-control" type="password" id="id_senha" name="senha" placeholder="Senha" required minlength="6">
		<input class="form-control" type="password" id="id_senha" name="senha_confirnar" placeholder="Confimar senha" required minlength="6">
		<hr>
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Registrar</button>

		{% if form.errors %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					x
				</button>
				{{form.non_field_errors}}
			</div>
		{% endif %}

	</form> 
{% endblock %}