{% extends "base_usuario.html" %}
{% block body %}
	<div class="form-signin title" style="text-align: center;">
		<h2><strong>Cadastro</strong></h2>
	</div>
	<div class="form-signin panel">
		<form action="{% url 'registrar' %}" method="post">
			{% csrf_token %}
			<div class="panel-body">
				<input class="form-control" type="text"  id="id_nome" name="nome" placeholder="Nome" required autofocus>
			</div>
			<div class="panel-body">
				<input class="form-control" type="email" id="id_email" name="email" placeholder="Email" required>
			</div>
			<div class="panel-body">
				<input class="form-control" type="tel" id="id_telefone" name="telefone" placeholder="Telefone" required>
			</div>
			<div class="panel-body">
				<input class="form-control" type="password" id="id_senha" name="senha" placeholder="Senha" required>
			</div>
			<div class="panel-body">
				<input class="form-control" type="password" id="id_senha" name="senha_confirmar" placeholder="Confimar senha" required>
			</div>
			<div class="panel-body">
				<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login"><strong>Registrar</strong></button>
			</div>
			<div class="w3-container w3-cell">
				<a href="{% url 'registrar' %}">Esqueci minha senha</a>
			</div>

			<div class="w3-container w3-cell">
				<a href="{% url 'login' %}">Fazer login</a>
			</div>

			{% if form.errors %}
				<div class="alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{form.non_field_errors}}
				</div>
			{% endif %}

			{% if error_message %}
				<div class="alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{error_message}}
				</div>
			{% endif %}

			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{{message}}
					</div>
				{% endfor %}
			{% endif %}
		</form> 
		<div class="form-signin" style="text-align: center;">
			<div class="w3-tag w3-padding w3-round-large w3-red w3-center w3-cell w3-mobile">
				<h3 class="w3-cell w3-mobile"><strong>ConnectedIn</strong></h3>
			</div>
		</div>
	</div>
	
{% endblock %}